* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h2 {
    color: #007bff;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-top: 10px;
}

/* Layout dasar */
body {
    line-height: 1.6;
    color: #333;
}

header {
    position: relative;
    background: url('fd435451-0a6f-4e75-aba9-51c3fa29b640.jpeg') center/cover no-repeat;
    color: #fff;
    padding: 260px 70px;
    text-align: center;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header h1,
header p,
header .cta {
    position: relative;
    z-index: 2;
}

.cta {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    color: #2f00ff;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    padding-bottom: 4px; 
    transition: color 0.3s ease;
}

.cta::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #ff0000;
    transition: width 0.3s ease;
}

.cta:hover {
    color: #ff0000;
}

.cta:hover::after {
    width: 100%;
}

section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

.features {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 250px;
    text-align: center;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
        box-shadow 0.6s cubic-bezier(0.25, 1, 0.5, 1),
        border 0.6s ease;
    cursor: pointer;
    border: 2px solid transparent;
}

.card img {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-12px) scale(1.07);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
    border: 2px solid #007bff;
}

footer {
    background: #007bff;
    ;
    color: #ddd;
    text-align: center;
    padding: 20px;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

header {
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
    animation-delay: 0.2s;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
}

.reveal.active {
    animation: fadeUp 0.8s ease-out forwards;
}

@media (max-width: 768px) {
    header {
        padding: 120px 20px;
        text-align: center;
    }
}
